{% extends "base.html" %} 
{% block content %}
<div id="topicName" >
  <h2>Topic: {{ topicName }}</h2>
</div>

{% if started %}
<div id="search">
  <div>
    Enter search term:
    <input id="flickrSearch">  <input type="submit" value="search" id="flickrSearchButton">
  </div>
    
  <div id="searchResults">
    Image search results will appear here.
  </div>
</div>

<div id="imageBoard">

</div>
{% else %}
Topic has not been started!
<form name="start-topic" value="." method="post">
<input type="submit" value="Start Topic"/>
</form>
{% endif %}

{% endblock content %}
