<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load media %}
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <title>Mental Ginger - {% block title %}{% endblock %}</title>
    <script src='/_ah/channel/jsapi'></script> <!-- For GAE Channel API -->

    {% include_media 'main.css' %} 
    {% include_media 'main.js' %} 

    {% block preload_js %}
    {% endblock %}
    <script>
        $(document).ready(function () {
           mentalGinger(); 
        });
    </script>


    {% block extra-head %}{% endblock %}
  </head>

  <body>
    <div id="header">
      <div id="header-title">
        <h1>Mental Ginger</h1>
      </div>
      <div id="header-subtitle">
        <h3>refresh the taste palette of your mind</h3>
      </div>
      <div id="header-topic-search">
        <input type="text" id="topic-to-find"/>
        <input type="submit" value="Find Topic" onClick="findTopic();"/>
      </div>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

<script>
  var findTopic = function() {
    window.location.replace('/topic/' + $("#topic-to-find").val() + '/');
  };
</script>

    {% block js %}
    {% endblock %}
  </body>
</html>
