<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
<head>
    <script src='/_ah/channel/jsapi'></script> <!-- For GAE Channel API -->
    
    <script src="/js/jquery-1.4.4.min.js"></script>
    <script src="/js/jquery-ui-1.8.8.custom.min.js"></script>
    
	<title>mental ginger</title>

<link rel="stylesheet" href="/css/ui-lightness/jquery-ui-1.8.8.custom.css" type="text/css">

<style>
#searchResults {
    overflow:auto;
    height:150px;
}

#searchResults img {
    width:50px;
}

.imageBoard {
    height:70%;
    background-color:#000000;
}
</style>

<script src="js/mentalginger.js"></script>
<script>
    $(document).ready(function () {
       mentalGinger(); 
    });
</script>

</head>

<body>
    
    <div>
        <div>
            Enter search term:
            <input id="flickrSearch">  <input type="submit" value="search" id="flickrSearchButton">
        </div>
        
        <div id="searchResults">
            Image search results will appear here.
        </div>
    </div>
    
    <div id="imageBoard">

    </div>
        
</body>
</html>